<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/store.css' %}">
</head>
<body>
    <div id="upper_panel"></div>
    <div id="content">
        <div id="left_panel">
            <div id="categories">
                {% for cat in categories %}
                    <a class="category" href="#">
                        {{ cat.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div id="main_panel"></div>
    </div>
</body>
</html>

