body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    min-height: 100vh;
}

#upper_panel {
    background-color: rgba(155, 255, 255, 0.466);
    height: 5vh;
    width: 100%;
}

#content {
    background-color: rgb(246, 253, 246);
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
}

#left_panel {
    background-color: rgba(213, 235, 255, 0.568);
    height: 100%;
    width: 15%;
}

#main_panel {
    background-color: rgba(144, 238, 183, 0.445);
    min-height: 95vh;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.055);
    margin: 2%;
    height: 50%;
    border-radius: 2px;
}

.category {
    display: flex;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    border: 1px solid black;
    background-color: rgba(152, 188, 219, 0.678);
    border-radius: 10px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 1.5%;
    padding: 1.5%;
    transition-duration: 0.3s;
}

.category:hover {
    width: 85%;
    background-color: rgba(192, 217, 238, 0.678);
}


.product {
    width: 15%;
    height: 22vh;
    background-color: rgba(0, 0, 0, 0.082);
    margin: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod_header {
    height: 10%;
    background-color: rgba(0, 0, 0, 0.027);
}

.image_place {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_place img {
    height: 100%;
}

.prod_description {
    background-color: rgba(0, 0, 0, 0.062);
    width: 100%;
    height: 19%;
}

.prod_price {
    width: 100%;
    height: 6%;
}
